html,
body {
    margin: 0;
    padding: 0;
    background-image: url("https://deadbydaylight.com/static/7a22fc7c16463b4669aeb44101d6d4f4/05751/website-background.jpg");
    background-size: cover;

}

.main-header {
    background-image: url("https://w.forfun.com/fetch/17/17f71305eda095ddcd5029f87b317d08.jpeg");
    background-size: cover;
    padding-bottom: 10px;
    height: 300px;
}


.footer {
    display: flex;
    justify-content: center;
    background-image: url("https://deadbydaylight.com/static/f666c1750beb64be359b67b8c3a49139/66180/fog-background.jpg");
    margin-top: 0px;
}

.description {
    display: flex;
    justify-content: center;
    border-color: darkred;
    border-radius: 10px;
    background-color: rgba(17, 10, 1, 0.91);
    padding: 10px;
    font-size: 15px;
    color: white;
}

.tag {
    font-size: 12px;
    display: inline;
    width: 80px;
    justify-content: center;
    border-radius: 10px;
    background-color: darkgray;
    padding: 5px;
}


.title {
    display: center;
    text-align: center;
    margin: 0px;
    font-size: 6em;
    font-family: "Arial";
    font-weight: normal;
    color: rgba(235, 223, 227, 0.877);
}


#dropdown:hover {
    background-color: #0ac1ee;
}

#card-container {
    display: flex;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    border: 5px solid #eee8e8;
    background-color: rgba(128, 128, 128, 0.275);
    border-radius: 0px;
    box-shadow: 0 4px 4px rgba(14, 11, 11, 0.1);
    margin: 5px;
}

.card-content {
    padding: 20px;
    font-family: "Verdana";
    color: #100101;
}

.card-content:hover {
    background-color: grey;
    box-shadow: #100101;
    transform: scale(1.05);
}


.card-content h2 {
    border-radius: 100px;
    border-color: black;
    background-color: white;
    text-align: center;
    margin-top: 0;
    font-size: 20px;
}

.card-content p {
    margin-top: -12px;
    font-size: 15px;
    color:rgb(217, 185, 3);
}

.card img {
    width: 100%;
    height: 200px;
}

button {
    text-align: center;
    background-color: #eeb219a7;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 10px;
    color: rgb(225, 216, 216);
    font-size: 22px;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    animation: bounce 0.8s infinite;
    background-color: rgb(255, 247, 0);
}

/* Keyframes for bounce animation */
@keyframes bounce {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-6px); 
    }
    100% {
        transform: translateY(0);
    }
}

#dropdown {
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center;
    background-color: #e72a11cb;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 10px;
    color: rgb(225, 216, 216);
    font-size: 22px;
    cursor: pointer;
    margin: 20px;
}

.search-bar {
    width: auto; /* Adjust width as needed */
    height: auto; /* Full height of viewport */
    padding: 20px;
    box-sizing: border-box;
}

.search-bar input {
    
    padding: 10px;
    font-size: 15px;
}

